$barColor: #1A71AC;
$barColorFade: #41B6E6;

$bars: (
        1: 50,
        2: 100,
        3: 75,
        4: 37.5,
        5: 25,
        6: 35,
        7: 20,
        8: 80,
        9: 90,
        10: 60
);

$anims: (
        1: 'move1 infinite 1.2s linear',
        2: 'move2 infinite 2s linear',
        3: 'move3 infinite 1s linear',
        4: 'move4 infinite 2s linear',
        5: 'move5 infinite 0.4s linear',
        6: 'move5 infinite 0.8s linear',
        7: 'move4 infinite 2.4s linear',
        8: 'move3 infinite 0.7s linear',
        9: 'move2 infinite 1.8s linear',
        10: 'move1 infinite 0.8s linear'
);

$height: 155;
$width: 677;
$barsCount: 10;
$pad: 1; //percent
$barWidth: (100 - (2 * $pad * ($barsCount - 1))) / $barsCount; //percent

@mixin _allin1($p, $v) {
  -webkit-#{$p}: #{$v};
  -moz-#{$p}: #{$v};
  -khtml-#{$p}: #{$v};
  -ms-#{$p}: #{$v};
  -o-#{$p}: #{$v};
  #{$p}: #{$v};
}

@mixin clearfix() {
  content: "";
  display: table;
  clear: both;
}

@mixin bar() {
  $r: 5; // ratio between bars
  $c: 19;
  $c1: ceil($c/2);
  $c2: $c - $c1;
  $h2: $height / (($r * $c1) + $c2);
  $h1: $r * $h2;
  >ul{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    >li{
      &:nth-child(2n+1){
        height: #{$h1}em;
        background-color: $barColor;
        @include _allin1('border-radius', 11%);
      }
      &:nth-child(2n){
        //height: #{$h2}em;
        height: 1px;
      }
    }
  }
}

@keyframes move1 {
  0% { height: 25%; }
  25% { height: 100%; }
  75% { height: 75%; }
  100% { height: 25%; }
}

@keyframes move2 {
  0% { height: 12.5%; }
  25% { height: 62.5%; }
  75% { height: 100%; }
  100% { height: 12.5%; }
}

@keyframes move3 {
  0% { height: 37.5%; }
  25% { height: 12.5%; }
  75% { height: 100%; }
  100% { height: 37.5%; }
}

@keyframes move4 {
  0% { height: 7%; }
  25% { height: 50%; }
  75% { height: 100%; }
  100% { height: 7%; }
}

@keyframes move5 {
  0% { height: 62.5%; }
  25% { height: 25%; }
  75% { height: 90%; }
  100% { height: 62.5%; }
}

#spinner{
  font-size: 0.1px;
}

#eq {
  height: #{$height}em;
  width: #{$width}em;
  position: absolute;
  left: 50%;
  margin-left: -(#{$width/2}em);
  top: 50%;
  margin-top: -(#{$height/2}em);
  display: block;
}

.bars {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  transform: rotate(180deg);
  &:after{
    @include clearfix();
  }
}

.bar {
  float: left;
  position: relative;
  overflow: hidden;
  width: #{$barWidth + '%'};
  margin-left: #{$pad + '%'};
  margin-right: #{$pad + '%'};

  @include bar();

  &._first{
    margin-left: 0;
  }
  &._last{
    margin-right: 0;
  }
}

._hidden{
  height: 100%;
  display: inline-block;
}

@each $k, $v in $bars{
  $a: map-get($anims, $k);
  .bar#{$k} {
    height: #{$v + '%'};
    @include _allin1('animation', $a);
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #spinner {
    font-size: 0.2px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #spinner {
    font-size: 0.3px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #spinner {
    font-size: 0.4px;
  }
}

#vWrapperOut {
  max-width: 640px;
  width: 100%;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
}

#vWrapper {
  $w: 640;
  $h: 100 * 360 / 640;
  background: #000;
  height: 0;
  padding-top: #{$h + '%'};
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
  #video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}